@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #b1e2c0;
}

::-webkit-scrollbar-thumb {
  background-color: #45da76;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #48b568;
}
